{% extends "base.html" %}
{% block content %}


<h1>Delete Book</h1>
<div class="form">
    <form action="{% url 'delete_book' pk=book.pk %}" method = "POST">
        {% csrf_token %}
        <div>
            <p>Are you sure you would like to delete this book?</p>
        </div>
        <div class="">
            <label for="{{field.id_for_label}}" class="">{{ field.label }}{{ field }}</label>
        </div>
        {% endfor %}
        <div>
            <button type = "submit">Delete Book</button>
        </div>


    </form>
</div>

{% endblock %}